@charset "utf-8";
/* CSS Document */


.negritas{
	
	font-weight:bold;
	}
	
.lineas{
 heigth:2px;
 bacgroung-color:#00FF00;
     }
 
div {
	background:url(1.JPG) cyan;
          background-size:cover;
}
 
.divresultado{
	margin-left:25%;
	margin-right:25%;
	text-align:center;
      }